#AddtaskTitle {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin: 10px 10px 0;
    color: #212121;
}

.Add-Box {
    background-color: #AABEEF;
}

.Edit-Box {
    background-color: #DCB0FF;
}


#DoneBtn {
    background-color: #0E497E;
    color: #FFFFFF;
    border-radius: 70px;
    width: 30%;
    font-size: 0.9rem;
    font-weight: bold;
    height: 40px;
}

#CancelBtn {
    background-color: #AE0B0D;
    color: #FFFFFF;
    border-radius: 70px;
    width: 30%;
    font-size: 0.9rem;
    font-weight: bold;
    height: 40px;
}