:root {
    font-family: "Poppins", sans-serif;
}

/* Desktop */
@media screen and (min-width: 1280px) {

    .ActitiesCard {
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        margin: 0 5% 2%;
        border-radius: 20px;
        justify-content: space-between;
    }
    
    .ActitiesDetail {
        margin: 5px;
    }

    .ActitiesDetail {
        p {
            margin: 5px;
        }

        .Title {
            font-size: 0.875rem;
            font-weight: 600;
        }

        .Description {
            font-size: 0.8125rem;
            font-weight: 400;
        }
    }

    .ActitiesDetail span {
        display: inline-flex;
        align-items: center;
        margin: 5px;
    }

    .ActitiesDetail .DueDate,
    .ActitiesDetail .DueTime {
        font-size: 0.8125rem;
        color: #35383C;
        font-weight: medium;
        line-height: 1;
        margin-left: 5px;
    }

    .more-icon {
        margin-left: auto;
        margin-right: 5%;
    }

}

/* Tablet */
@media screen and (max-width: 1280px) and (min-width: 720px) {

    .ActitiesCard {
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        margin: 2% 5% 2%;
        border-radius: 20px;
        justify-content: space-between;
    }
    
    .ActitiesDetail {
        margin: 5px;
    }

    .ActitiesDetail {
        p {
            margin: 5px;
        }

        .Title {
            font-size: 0.875rem;
            font-weight: 600;
        }

        .Description {
            font-size: 0.8125rem;
            font-weight: 400;
        }
    }

    .ActitiesDetail span {
        display: inline-flex;
        align-items: center;
        margin: 5px;
    }

    .ActitiesDetail .DueDate,
    .ActitiesDetail .DueTime {
        font-size: 0.8125rem;
        color: #35383C;
        font-weight: medium;
        line-height: 1;
        margin-left: 5px;
    }

    .more-icon {
        margin-left: auto;
        margin-right: 5%;
    }
}

/* Mobile */
@media screen and (max-width: 720px) {

}
